body {
    color: white;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/019/044/805/large/oliver-chipping-sru-estshot.jpg?1561756520");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
  background: rgba(27,27,27,.8);
  color: #171717;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 37px;
  background-position: center;
  background-size: cover;
}

.section {
  display: table;
  background: rgba(27,27,27,.7);
  margin: 15px 300px 0px;
}

p {
  text-indent: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

p a {
  color: #edcd77;
}

.nav {
  font-family: "Georgia", serif;
}

.nav a {
  float: left;
  color: #edcd77;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px
}

.nav a:hover {
  background-color: #828786;
  color: #edcd77;
}

.pic {
  padding: 50px 50px;
  text-align: center;
}

.pagetitle {
  padding-left: 20px;
  padding-right: 20px;
  font-family: arial;
}

.hiddentext {
  visibility: hidden;
}

.currentpage {
  background-color: #585c5b;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: arial;
}
