html {
  scroll-behavior: smooth;
}

body {
  background-color: black
}

.Head1 {
  margin: 10px auto 20px;
  color: black;
  background-color: beige;
  text-align: center;
  width: 580px;
  height: 83px;
  font-size: 200%;
}

.galaxy {
  margin: 10px auto 20px;
  border: 1px solid beige;
  box-sizing: content-box;
  width: 500px;
  height: 350px;
}

.p1 {
  text-indent: 30px;
  margin: 10px;
  font-size: 16px;
  font-family:  verdana;
  color: white;
}

#toc_container {
    background: beige none repeat scroll 0 0;
    border: 5px solid #aaa;
    display: table;
    font-size: 95%;
    margin-top: 1em;
    padding-right: 30px;
    width: auto;
    margin: 10px auto 20px;
    color:
}

.toc_title {
    font-weight: 700;
    font-size: 150%;
    text-align: center;
    color: black;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

h2 {
  color: gray;
}

.Content_Headers {
    color: black;
    font-size: 150%;
    background-color: beige;
}

.Content_Data {
    color: #bfbfbf;
    text-indent: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
